/* [next]/internal/font/google/cormorant_garamond_5198a10a.module.css [app-client] (css) */
@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/9cc5c0547f229dea-s.00y8kskkn0hyx.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/b0947914c9718a1e-s.1xjn85gt7t6qs.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/d0b60be57f16ee32-s.1xtu7gopqv2u0.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/1f9e983605289f29-s.3aak_kra40y8r.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/01e4147cff8141ee-s.p.3huc2loe0ie8a.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/9cc5c0547f229dea-s.00y8kskkn0hyx.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/b0947914c9718a1e-s.1xjn85gt7t6qs.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/d0b60be57f16ee32-s.1xtu7gopqv2u0.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/1f9e983605289f29-s.3aak_kra40y8r.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/01e4147cff8141ee-s.p.3huc2loe0ie8a.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/9cc5c0547f229dea-s.00y8kskkn0hyx.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/b0947914c9718a1e-s.1xjn85gt7t6qs.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/d0b60be57f16ee32-s.1xtu7gopqv2u0.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/1f9e983605289f29-s.3aak_kra40y8r.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/01e4147cff8141ee-s.p.3huc2loe0ie8a.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/9cc5c0547f229dea-s.00y8kskkn0hyx.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/b0947914c9718a1e-s.1xjn85gt7t6qs.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/d0b60be57f16ee32-s.1xtu7gopqv2u0.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/1f9e983605289f29-s.3aak_kra40y8r.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/01e4147cff8141ee-s.p.3huc2loe0ie8a.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/9cc5c0547f229dea-s.00y8kskkn0hyx.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/b0947914c9718a1e-s.1xjn85gt7t6qs.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/d0b60be57f16ee32-s.1xtu7gopqv2u0.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/1f9e983605289f29-s.3aak_kra40y8r.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/01e4147cff8141ee-s.p.3huc2loe0ie8a.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Cormorant Garamond Fallback;
  src: local(Times New Roman);
  ascent-override: 95.27%;
  descent-override: 29.59%;
  line-gap-override: 0.0%;
  size-adjust: 96.98%;
}

.cormorant_garamond_5198a10a-module__hM8FAG__className {
  font-family: Cormorant Garamond, Cormorant Garamond Fallback;
  font-style: normal;
}

.cormorant_garamond_5198a10a-module__hM8FAG__variable {
  --font-heading: "Cormorant Garamond", "Cormorant Garamond Fallback";
}

/* [next]/internal/font/google/lato_4d4b9bea.module.css [app-client] (css) */
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/20f1c48c725d3555-s.0u-s08866kges.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/f30fd2e485acf1bc-s.p.35belnv3c2-b-.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/b529365fa126a3f2-s.441olqq_uijdr.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/8e451580e5e95631-s.p.27vw08z6_vw0m.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/d74bdd14d6019bc6-s.097vcw437jzga.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/345c85a432359eed-s.p.0zem_9y19rte6.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Lato Fallback;
  src: local(Arial);
  ascent-override: 101.03%;
  descent-override: 21.8%;
  line-gap-override: 0.0%;
  size-adjust: 97.69%;
}

.lato_4d4b9bea-module__zrWiea__className {
  font-family: Lato, Lato Fallback;
  font-style: normal;
}

.lato_4d4b9bea-module__zrWiea__variable {
  --font-body: "Lato", "Lato Fallback";
}

/* [project]/app/globals.css [app-client] (css) */
@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after, ::backdrop {
      --tw-border-style: solid;
      --tw-leading: initial;
      --tw-font-weight: initial;
      --tw-tracking: initial;
      --tw-shadow: 0 0 #0000;
      --tw-shadow-color: initial;
      --tw-shadow-alpha: 100%;
      --tw-inset-shadow: 0 0 #0000;
      --tw-inset-shadow-color: initial;
      --tw-inset-shadow-alpha: 100%;
      --tw-ring-color: initial;
      --tw-ring-shadow: 0 0 #0000;
      --tw-inset-ring-color: initial;
      --tw-inset-ring-shadow: 0 0 #0000;
      --tw-ring-inset: initial;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-backdrop-blur: initial;
      --tw-backdrop-brightness: initial;
      --tw-backdrop-contrast: initial;
      --tw-backdrop-grayscale: initial;
      --tw-backdrop-hue-rotate: initial;
      --tw-backdrop-invert: initial;
      --tw-backdrop-opacity: initial;
      --tw-backdrop-saturate: initial;
      --tw-backdrop-sepia: initial;
      --tw-duration: initial;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-scale-z: 1;
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-translate-z: 0;
    }
  }
}

@layer theme {
  :root, :host {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    --color-white: #fff;
    --spacing: .25rem;
    --container-2xl: 42rem;
    --container-3xl: 48rem;
    --container-4xl: 56rem;
    --container-6xl: 72rem;
    --container-7xl: 80rem;
    --text-xs: .75rem;
    --text-xs--line-height: calc(1 / .75);
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25 / .875);
    --text-base: 1rem;
    --text-base--line-height: calc(1.5 / 1);
    --text-xl: 1.25rem;
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --text-4xl: 2.25rem;
    --text-4xl--line-height: calc(2.5 / 2.25);
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --text-6xl: 3.75rem;
    --text-6xl--line-height: 1;
    --font-weight-light: 300;
    --font-weight-semibold: 600;
    --tracking-normal: 0em;
    --tracking-wide: .025em;
    --leading-tight: 1.25;
    --leading-relaxed: 1.625;
    --radius-md: .375rem;
    --radius-lg: .5rem;
    --radius-3xl: 1.5rem;
    --blur-md: 12px;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
  }
}

@layer base {
  *, :after, :before, ::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  ::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  html, :host {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  b, strong {
    font-weight: bolder;
  }

  code, kbd, samp, pre {
    font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(--default-mono-font-variation-settings, normal);
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub, sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  :-moz-focusring {
    outline: auto;
  }

  progress {
    vertical-align: baseline;
  }

  summary {
    display: list-item;
  }

  ol, ul, menu {
    list-style: none;
  }

  img, svg, video, canvas, audio, iframe, embed, object {
    vertical-align: middle;
    display: block;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  button, input, select, optgroup, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }

  :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }

  ::file-selector-button {
    margin-inline-end: 4px;
  }

  ::placeholder {
    opacity: 1;
  }

  @supports (not ((-webkit-appearance: -apple-pay-button))) or (contain-intrinsic-size: 1px) {
    ::placeholder {
      color: currentColor;
    }

    @supports (color: color-mix(in lab, red, red)) {
      ::placeholder {
        color: color-mix(in oklab, currentcolor 50%, transparent);
      }
    }
  }

  textarea {
    resize: vertical;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }

  ::-webkit-datetime-edit {
    display: inline-flex;
  }

  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }

  ::-webkit-datetime-edit {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-year-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-month-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-day-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-hour-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-minute-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-second-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-millisecond-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
  }

  ::-webkit-calendar-picker-indicator {
    line-height: 1;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  button, input:where([type="button"], [type="reset"], [type="submit"]) {
    appearance: button;
  }

  ::file-selector-button {
    appearance: button;
  }

  ::-webkit-inner-spin-button {
    height: auto;
  }

  ::-webkit-outer-spin-button {
    height: auto;
  }

  [hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
  }
}

@layer components;

@layer utilities {
  .pointer-events-none {
    pointer-events: none;
  }

  .absolute {
    position: absolute;
  }

  .fixed {
    position: fixed;
  }

  .relative {
    position: relative;
  }

  .inset-0 {
    inset: 0;
  }

  .top-0 {
    top: 0;
  }

  .top-2 {
    top: calc(var(--spacing) * 2);
  }

  .top-24 {
    top: calc(var(--spacing) * 24);
  }

  .-right-4 {
    right: calc(var(--spacing) * -4);
  }

  .-right-28 {
    right: calc(var(--spacing) * -28);
  }

  .right-0 {
    right: 0;
  }

  .-left-6 {
    left: calc(var(--spacing) * -6);
  }

  .-left-36 {
    left: calc(var(--spacing) * -36);
  }

  .left-0 {
    left: 0;
  }

  .z-10 {
    z-index: 10;
  }

  .z-50 {
    z-index: 50;
  }

  .mx-auto {
    margin-inline: auto;
  }

  .my-5 {
    margin-block: calc(var(--spacing) * 5);
  }

  .mt-1 {
    margin-top: var(--spacing);
  }

  .mt-2 {
    margin-top: calc(var(--spacing) * 2);
  }

  .mt-3 {
    margin-top: calc(var(--spacing) * 3);
  }

  .mt-4 {
    margin-top: calc(var(--spacing) * 4);
  }

  .mt-5 {
    margin-top: calc(var(--spacing) * 5);
  }

  .mt-7 {
    margin-top: calc(var(--spacing) * 7);
  }

  .mt-10 {
    margin-top: calc(var(--spacing) * 10);
  }

  .-mb-2 {
    margin-bottom: calc(var(--spacing) * -2);
  }

  .block {
    display: block;
  }

  .flex {
    display: flex;
  }

  .grid {
    display: grid;
  }

  .hidden {
    display: none;
  }

  .inline-flex {
    display: inline-flex;
  }

  .h-3 {
    height: calc(var(--spacing) * 3);
  }

  .h-24 {
    height: calc(var(--spacing) * 24);
  }

  .h-\[760px\] {
    height: 760px;
  }

  .h-auto {
    height: auto;
  }

  .h-px {
    height: 1px;
  }

  .min-h-\[720px\] {
    min-height: 720px;
  }

  .w-3 {
    width: calc(var(--spacing) * 3);
  }

  .w-20 {
    width: calc(var(--spacing) * 20);
  }

  .w-\[360px\] {
    width: 360px;
  }

  .w-\[400px\] {
    width: 400px;
  }

  .w-\[420px\] {
    width: 420px;
  }

  .w-\[520px\] {
    width: 520px;
  }

  .max-w-2xl {
    max-width: var(--container-2xl);
  }

  .max-w-3xl {
    max-width: var(--container-3xl);
  }

  .max-w-4xl {
    max-width: var(--container-4xl);
  }

  .max-w-6xl {
    max-width: var(--container-6xl);
  }

  .max-w-7xl {
    max-width: var(--container-7xl);
  }

  .grow {
    flex-grow: 1;
  }

  .rotate-45 {
    rotate: 45deg;
  }

  .flex-col {
    flex-direction: column;
  }

  .items-center {
    align-items: center;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-center {
    justify-content: center;
  }

  .gap-4 {
    gap: calc(var(--spacing) * 4);
  }

  .gap-5 {
    gap: calc(var(--spacing) * 5);
  }

  .gap-8 {
    gap: calc(var(--spacing) * 8);
  }

  .gap-12 {
    gap: calc(var(--spacing) * 12);
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .rounded-3xl {
    border-radius: var(--radius-3xl);
  }

  .rounded-\[4px\] {
    border-radius: 4px;
  }

  .rounded-lg {
    border-radius: var(--radius-lg);
  }

  .rounded-md {
    border-radius: var(--radius-md);
  }

  .border {
    border-style: var(--tw-border-style);
    border-width: 1px;
  }

  .border-b {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 1px;
  }

  .border-\[\#D8CCBA\] {
    border-color: #d8ccba;
  }

  .border-\[\#EADFC8\] {
    border-color: #eadfc8;
  }

  .bg-\[\#\#f3e7d3\]\/90 {
    background-color: color-mix(in oklab, ##f3e7d3 90%, transparent);
  }

  .bg-\[\#\#fff7be3\]\/90 {
    background-color: color-mix(in oklab, ##fff7be3 90%, transparent);
  }

  .bg-\[\#\#fff7be3e7d3\]\/90 {
    background-color: color-mix(in oklab, ##fff7be3e7d3 90%, transparent);
  }

  .bg-\[\#\#fff7be\]\/90 {
    background-color: color-mix(in oklab, ##fff7be 90%, transparent);
  }

  .bg-\[\#173E2C\] {
    background-color: #173e2c;
  }

  .bg-\[\#183A2A\] {
    background-color: #183a2a;
  }

  .bg-\[\#67204D\] {
    background-color: #67204d;
  }

  .bg-\[\#080702\] {
    background-color: #080702;
  }

  .bg-\[\#234531\] {
    background-color: #234531;
  }

  .bg-\[\#C89D4A\] {
    background-color: #c89d4a;
  }

  .bg-\[\#F7F2E9\] {
    background-color: #f7f2e9;
  }

  .bg-\[\#F8F4EC\] {
    background-color: #f8f4ec;
  }

  .bg-\[\#F8F4EC\]\/38 {
    background-color: #f8f4ec61;
    background-color: lab(96.3375% .361592 4.363 / .38);
  }

  .bg-\[\#F8F4EC\]\/90 {
    background-color: #f8f4ece6;
    background-color: lab(96.3375% .361562 4.363 / .9);
  }

  .bg-\[\#FBF8F2\] {
    background-color: #fbf8f2;
  }

  .bg-\[\#FFFDF8\] {
    background-color: #fffdf8;
  }

  .bg-\[\#Fff7b8F4EC\]\/38 {
    background-color: color-mix(in oklab, #Fff7b8F4EC 38%, transparent);
  }

  .bg-\[\#Fff7be8F4EC\]\/38 {
    background-color: color-mix(in oklab, #Fff7be8F4EC 38%, transparent);
  }

  .bg-\[\#Fff7be\]\/38 {
    background-color: #fff7be61;
    background-color: lab(96.8404% -3.61645 28.5362 / .38);
  }

  .bg-\[\#f3e7d3\]\/90 {
    background-color: #f3e7d3e6;
    background-color: lab(92.2103% 1.78573 11.3092 / .9);
  }

  .bg-\[\#f3e7d3be\]\/90 {
    background-color: #f3e7d3ab;
    background-color: lab(92.2103% 1.7857 11.3092 / .670588);
  }

  .bg-\[\#f3e7d3f7be\]\/90 {
    background-color: color-mix(in oklab, #f3e7d3f7be 90%, transparent);
  }

  .bg-\[\#fbf8f2\]\/90 {
    background-color: #fbf8f2e6;
    background-color: lab(97.6881% .263184 3.26067 / .9);
  }

  .bg-\[\#fff7beF8F4EC\] {
    background-color: #fff7beF8F4EC;
  }

  .bg-\[\#fff7be\] {
    background-color: #fff7be;
  }

  .bg-\[\#fff7be\]\/90 {
    background-color: #fff7bee6;
    background-color: lab(96.8404% -3.61648 28.5361 / .9);
  }

  .bg-\[\#fffF8F4EC\] {
    background-color: #fffF8F4EC;
  }

  .bg-\[\#vF7F2E9\] {
    background-color: #vF7F2E9;
  }

  .bg-\[\#var-\] {
    background-color: #var-;
  }

  .bg-\[\#var-cream\] {
    background-color: #var-cream;
  }

  .bg-\[\#var-pF7F2E9\] {
    background-color: #var-pF7F2E9;
  }

  .bg-\[\#var-paF7F2E9\] {
    background-color: #var-paF7F2E9;
  }

  .bg-\[\#var-papF7F2E9\] {
    background-color: #var-papF7F2E9;
  }

  .bg-\[\#var-paperF7F2E9\] {
    background-color: #var-paperF7F2E9;
  }

  .bg-\[\#var-paper\] {
    background-color: #var-paper;
  }

  .bg-\[\#varF7F2E9\] {
    background-color: #varF7F2E9;
  }

  .bg-cover {
    background-size: cover;
  }

  .bg-center {
    background-position: center;
  }

  .p-10 {
    padding: calc(var(--spacing) * 10);
  }

  .px-6 {
    padding-inline: calc(var(--spacing) * 6);
  }

  .px-7 {
    padding-inline: calc(var(--spacing) * 7);
  }

  .px-8 {
    padding-inline: calc(var(--spacing) * 8);
  }

  .py-3 {
    padding-block: calc(var(--spacing) * 3);
  }

  .py-4 {
    padding-block: calc(var(--spacing) * 4);
  }

  .py-6 {
    padding-block: calc(var(--spacing) * 6);
  }

  .py-10 {
    padding-block: calc(var(--spacing) * 10);
  }

  .py-14 {
    padding-block: calc(var(--spacing) * 14);
  }

  .py-16 {
    padding-block: calc(var(--spacing) * 16);
  }

  .pt-12 {
    padding-top: calc(var(--spacing) * 12);
  }

  .pt-20 {
    padding-top: calc(var(--spacing) * 20);
  }

  .pb-16 {
    padding-bottom: calc(var(--spacing) * 16);
  }

  .text-center {
    text-align: center;
  }

  .align-super {
    vertical-align: super;
  }

  .align-top {
    vertical-align: top;
  }

  .font-serif {
    font-family: var(--font-serif);
  }

  .text-2xl {
    font-size: var(--text-2xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height));
  }

  .text-4xl {
    font-size: var(--text-4xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height));
  }

  .text-5xl {
    font-size: var(--text-5xl);
    line-height: var(--tw-leading, var(--text-5xl--line-height));
  }

  .text-base {
    font-size: var(--text-base);
    line-height: var(--tw-leading, var(--text-base--line-height));
  }

  .text-sm {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
  }

  .text-xl {
    font-size: var(--text-xl);
    line-height: var(--tw-leading, var(--text-xl--line-height));
  }

  .text-xs {
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
  }

  .text-\[2rem\] {
    font-size: 2rem;
  }

  .text-\[3\.25rem\] {
    font-size: 3.25rem;
  }

  .text-\[10px\] {
    font-size: 10px;
  }

  .text-\[11px\] {
    font-size: 11px;
  }

  .text-\[17px\] {
    font-size: 17px;
  }

  .text-\[34px\] {
    font-size: 34px;
  }

  .leading-7 {
    --tw-leading: calc(var(--spacing) * 7);
    line-height: calc(var(--spacing) * 7);
  }

  .leading-8 {
    --tw-leading: calc(var(--spacing) * 8);
    line-height: calc(var(--spacing) * 8);
  }

  .leading-none {
    --tw-leading: 1;
    line-height: 1;
  }

  .leading-relaxed {
    --tw-leading: var(--leading-relaxed);
    line-height: var(--leading-relaxed);
  }

  .leading-tight {
    --tw-leading: var(--leading-tight);
    line-height: var(--leading-tight);
  }

  .font-light {
    --tw-font-weight: var(--font-weight-light);
    font-weight: var(--font-weight-light);
  }

  .font-semibold {
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
  }

  .tracking-\[0\.2em\] {
    --tw-tracking: .2em;
    letter-spacing: .2em;
  }

  .tracking-\[0\.03em\] {
    --tw-tracking: .03em;
    letter-spacing: .03em;
  }

  .tracking-\[0\.3em\] {
    --tw-tracking: .3em;
    letter-spacing: .3em;
  }

  .tracking-\[0\.08em\] {
    --tw-tracking: .08em;
    letter-spacing: .08em;
  }

  .tracking-\[0\.16em\] {
    --tw-tracking: .16em;
    letter-spacing: .16em;
  }

  .tracking-\[0\.18em\] {
    --tw-tracking: .18em;
    letter-spacing: .18em;
  }

  .tracking-\[0\.35em\] {
    --tw-tracking: .35em;
    letter-spacing: .35em;
  }

  .tracking-\[0\.45em\] {
    --tw-tracking: .45em;
    letter-spacing: .45em;
  }

  .tracking-normal {
    --tw-tracking: var(--tracking-normal);
    letter-spacing: var(--tracking-normal);
  }

  .tracking-wide {
    --tw-tracking: var(--tracking-wide);
    letter-spacing: var(--tracking-wide);
  }

  .text-\[\#4F514B\] {
    color: #4f514b;
  }

  .text-\[\#5A2346\] {
    color: #5a2346;
  }

  .text-\[\#50534D\] {
    color: #50534d;
  }

  .text-\[\#080702D\] {
    color: #080702D;
  }

  .text-\[\#080702\] {
    color: #080702;
  }

  .text-\[\#234531\] {
    color: #234531;
  }

  .text-\[\#937038\] {
    color: #937038;
  }

  .text-\[\#B8863B\] {
    color: #b8863b;
  }

  .text-\[\#D7B56D\] {
    color: #d7b56d;
  }

  .text-\[\#F7F2E9\] {
    color: #f7f2e9;
  }

  .text-\[\#fff7be\] {
    color: #fff7be;
  }

  .text-white {
    color: var(--color-white);
  }

  .text-white\/70 {
    color: #ffffffb3;
  }

  @supports (color: color-mix(in lab, red, red)) {
    .text-white\/70 {
      color: color-mix(in oklab, var(--color-white) 70%, transparent);
    }
  }

  .uppercase {
    text-transform: uppercase;
  }

  .italic {
    font-style: italic;
  }

  .opacity-70 {
    opacity: .7;
  }

  .opacity-\[0\.\.14\] {
    opacity: 0..14;
  }

  .opacity-\[0\.15\] {
    opacity: .15;
  }

  .opacity-\[0\.035\] {
    opacity: .035;
  }

  .shadow-\[0_10px_25px_rgba\(23\,62\,44\,0\.18\)\] {
    --tw-shadow: 0 10px 25px var(--tw-shadow-color, #173e2c2e);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .shadow-lg {
    --tw-shadow: 0 10px 15px -3px var(--tw-shadow-color, #0000001a), 0 4px 6px -4px var(--tw-shadow-color, #0000001a);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .backdrop-blur-md {
    --tw-backdrop-blur: blur(var(--blur-md));
    -webkit-backdrop-filter: var(--tw-backdrop-blur, ) var(--tw-backdrop-brightness, ) var(--tw-backdrop-contrast, ) var(--tw-backdrop-grayscale, ) var(--tw-backdrop-hue-rotate, ) var(--tw-backdrop-invert, ) var(--tw-backdrop-opacity, ) var(--tw-backdrop-saturate, ) var(--tw-backdrop-sepia, );
    backdrop-filter: var(--tw-backdrop-blur, ) var(--tw-backdrop-brightness, ) var(--tw-backdrop-contrast, ) var(--tw-backdrop-grayscale, ) var(--tw-backdrop-hue-rotate, ) var(--tw-backdrop-invert, ) var(--tw-backdrop-opacity, ) var(--tw-backdrop-saturate, ) var(--tw-backdrop-sepia, );
  }

  .transition {
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter, display, content-visibility, overlay, pointer-events;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-all {
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-transform {
    transition-property: transform, translate, scale, rotate;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .duration-300 {
    --tw-duration: .3s;
    transition-duration: .3s;
  }

  .select-none {
    -webkit-user-select: none;
    user-select: none;
  }

  @media (hover: hover) {
    .group-hover\:scale-105:is(:where(.group):hover *) {
      --tw-scale-x: 105%;
      --tw-scale-y: 105%;
      --tw-scale-z: 105%;
      scale: var(--tw-scale-x) var(--tw-scale-y);
    }
  }

  @media (hover: hover) {
    .hover\:-translate-y-0\.5:hover {
      --tw-translate-y: calc(var(--spacing) * -.5);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
  }

  @media (hover: hover) {
    .hover\:bg-\[\#2E5A43\]:hover {
      background-color: #2e5a43;
    }
  }

  @media (hover: hover) {
    .hover\:bg-\[\#5A2346\]:hover {
      background-color: #5a2346;
    }
  }

  @media (hover: hover) {
    .hover\:text-\[\#937038\]:hover {
      color: #937038;
    }
  }

  @media (hover: hover) {
    .hover\:shadow-\[0_14px_30px_rgba\(90\,35\,70\,0\.2\)\]:hover {
      --tw-shadow: 0 14px 30px var(--tw-shadow-color, #5a234633);
      box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }
  }

  @media (hover: hover) {
    .hover\:shadow-lg:hover {
      --tw-shadow: 0 10px 15px -3px var(--tw-shadow-color, #0000001a), 0 4px 6px -4px var(--tw-shadow-color, #0000001a);
      box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }
  }

  @media (min-width: 40rem) {
    .sm\:w-28 {
      width: calc(var(--spacing) * 28);
    }
  }

  @media (min-width: 40rem) {
    .sm\:pt-10 {
      padding-top: calc(var(--spacing) * 10);
    }
  }

  @media (min-width: 40rem) {
    .sm\:text-2xl {
      font-size: var(--text-2xl);
      line-height: var(--tw-leading, var(--text-2xl--line-height));
    }
  }

  @media (min-width: 40rem) {
    .sm\:text-4xl {
      font-size: var(--text-4xl);
      line-height: var(--tw-leading, var(--text-4xl--line-height));
    }
  }

  @media (min-width: 40rem) {
    .sm\:text-6xl {
      font-size: var(--text-6xl);
      line-height: var(--tw-leading, var(--text-6xl--line-height));
    }
  }

  @media (min-width: 40rem) {
    .sm\:text-sm {
      font-size: var(--text-sm);
      line-height: var(--tw-leading, var(--text-sm--line-height));
    }
  }

  @media (min-width: 48rem) {
    .md\:block {
      display: block;
    }
  }

  @media (min-width: 48rem) {
    .md\:inline-flex {
      display: inline-flex;
    }
  }

  @media (min-width: 48rem) {
    .md\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (min-width: 48rem) {
    .md\:flex-row {
      flex-direction: row;
    }
  }

  @media (min-width: 48rem) {
    .md\:text-left {
      text-align: left;
    }
  }

  @media (min-width: 48rem) {
    .md\:text-5xl {
      font-size: var(--text-5xl);
      line-height: var(--tw-leading, var(--text-5xl--line-height));
    }
  }

  @media (min-width: 64rem) {
    .lg\:-mt-4 {
      margin-top: calc(var(--spacing) * -4);
    }
  }

  @media (min-width: 64rem) {
    .lg\:block {
      display: block;
    }
  }

  @media (min-width: 64rem) {
    .lg\:flex {
      display: flex;
    }
  }

  @media (min-width: 64rem) {
    .lg\:min-h-\[760px\] {
      min-height: 760px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-\[480px\] {
      width: 480px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:pt-8 {
      padding-top: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 64rem) {
    .lg\:pb-18 {
      padding-bottom: calc(var(--spacing) * 18);
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-\[1\.9rem\] {
      font-size: 1.9rem;
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-\[3\.1rem\] {
      font-size: 3.1rem;
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-\[7rem\] {
      font-size: 7rem;
    }
  }
}

:root {
  --cream: #fff7be;
  --paper: #f3e7d3;
  --green: #080702;
  --brown: #533811;
  --gold: #937038;
  --light: #b6a893;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--cream);
  color: var(--green);
  font-family: var(--font-body);
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
  font-weight: 400;
}

section {
  position: relative;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.gold-divider {
  background: var(--gold);
  width: 120px;
  height: 2px;
  margin: 40px auto;
}

.paper {
  background: var(--paper);
  border: 1px solid #f3e7d3;
  border-radius: 28px;
  box-shadow: 0 20px 60px #00000014;
}

.button-green {
  background: var(--green);
  color: var(--cream);
  border-radius: 999px;
  padding: 16px 34px;
  text-decoration: none;
  transition: all .3s;
  display: inline-block;
}

.button-green:hover {
  transform: translateY(-2px);
}

.button-plum {
  background: var(--green);
  color: #fff;
  border-radius: 999px;
  padding: 16px 34px;
  text-decoration: none;
  transition: all .3s;
  display: inline-block;
}

.button-plum:hover {
  transform: translateY(-2px);
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-leading {
  syntax: "*";
  inherits: false
}

@property --tw-font-weight {
  syntax: "*";
  inherits: false
}

@property --tw-tracking {
  syntax: "*";
  inherits: false
}

@property --tw-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-inset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-ring-inset {
  syntax: "*";
  inherits: false
}

@property --tw-ring-offset-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --tw-ring-offset-color {
  syntax: "*";
  inherits: false;
  initial-value: #fff;
}

@property --tw-ring-offset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-backdrop-blur {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-brightness {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-contrast {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-grayscale {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-hue-rotate {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-invert {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-opacity {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-saturate {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-sepia {
  syntax: "*";
  inherits: false
}

@property --tw-duration {
  syntax: "*";
  inherits: false
}

@property --tw-scale-x {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-scale-y {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-scale-z {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-y {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-z {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

/*# sourceMappingURL=%5Broot-of-the-server%5D__1rel27b._.css.map*/