@import "tailwindcss";

:root {

  --cream: #F7F3EC;
  --paper: #FCFAF7;
  --green: #284936;
  --plum: #5B2345;
  --gold: #C7A45A;
  --charcoal: #444444;

}

html{
    scroll-behavior:smooth;
}

body{

    margin:0;
    background:var(--cream);
    color:var(--charcoal);
    font-family:var(--font-body);
}

h1,h2,h3,h4{

    font-family:var(--font-heading);
    font-weight:400;

}

section{

    position:relative;

}

.container{

    max-width:1280px;
    margin:auto;
    padding-left:2rem;
    padding-right:2rem;

}

.gold-divider{

    width:120px;
    height:2px;
    background:var(--gold);
    margin:40px auto;

}

.paper{

    background:var(--paper);
    border:1px solid #E7DED2;
    border-radius:28px;
    box-shadow:0 20px 60px rgba(0,0,0,.08);

}

.button-green{

    background:var(--green);
    color:white;
    border-radius:999px;
    padding:16px 34px;
    display:inline-block;
    text-decoration:none;
    transition:.3s;

}

.button-green:hover{

    transform:translateY(-2px);

}

.button-plum{

    background:var(--plum);
    color:white;
    border-radius:999px;
    padding:16px 34px;
    display:inline-block;
    text-decoration:none;
    transition:.3s;

}

.button-plum:hover{

    transform:translateY(-2px);

}